/antlr-2.7.6.jar
/aopalliance-1.0.jar
/asm-3.1.jar
/aspectj-1.6.1.jar
/aspectjrt-1.6.11.jar
/aspectjweaver-1.6.11.jar
/cglib-2.2.jar
/commons-codec-1.10.jar
/commons-collections-3.1.jar
/commons-fileupload-1.3.2.jar
/commons-io-2.5.jar
/commons-logging-1.2.jar
/dom4j-1.6.1.jar
/hibernate-jpa-2.0-api-1.0.0.Final.jar
/hibernate3.jar
/itext-2.1.7.jar
/jackson-core-asl-1.9.2.jar
/jackson-jaxrs-1.9.2.jar
/jackson-mapper-asl-1.9.2.jar
/jackson-xc-1.9.2.jar
/javassist-3.12.0.GA.jar
/jcommon-1.0.23.jar
/jersey-client-1.19.1.jar
/jersey-core-1.19.1.jar
/jersey-json-1.19.1.jar
/jersey-server-1.19.1.jar
/jersey-servlet-1.19.1.jar
/jersey-spring-1.9.1.jar
/jettison-1.1.jar
/jfreechart-1.0.19.jar
/jsr311-api-1.1.1.jar
/jstl-1.2.jar
/jta-1.1.jar
/log4j-1.2.14.jar
/mail-1.4.7.jar
/mysql.jar
/ojdbc14.jar
/poi-3.16-beta1.jar
/slf4j-api-1.6.1.jar
/spring-aop-3.2.5.RELEASE-javadoc.jar
/spring-aop-3.2.5.RELEASE-sources.jar
/spring-aop-3.2.5.RELEASE.jar
/spring-aspects-3.2.5.RELEASE-javadoc.jar
/spring-aspects-3.2.5.RELEASE-sources.jar
/spring-aspects-3.2.5.RELEASE.jar
/spring-beans-3.2.5.RELEASE-javadoc.jar
/spring-beans-3.2.5.RELEASE-sources.jar
/spring-beans-3.2.5.RELEASE.jar
/spring-build-src-3.2.5.RELEASE.jar
/spring-context-3.2.5.RELEASE-javadoc.jar
/spring-context-3.2.5.RELEASE-sources.jar
/spring-context-3.2.5.RELEASE.jar
/spring-context-support-3.2.5.RELEASE-javadoc.jar
/spring-context-support-3.2.5.RELEASE-sources.jar
/spring-context-support-3.2.5.RELEASE.jar
/spring-core-3.2.5.RELEASE-javadoc.jar
/spring-core-3.2.5.RELEASE-sources.jar
/spring-core-3.2.5.RELEASE.jar
/spring-expression-3.2.5.RELEASE-javadoc.jar
/spring-expression-3.2.5.RELEASE-sources.jar
/spring-expression-3.2.5.RELEASE.jar
/spring-instrument-3.2.5.RELEASE-javadoc.jar
/spring-instrument-3.2.5.RELEASE-sources.jar
/spring-instrument-3.2.5.RELEASE.jar
/spring-instrument-tomcat-3.2.5.RELEASE-javadoc.jar
/spring-instrument-tomcat-3.2.5.RELEASE-sources.jar
/spring-instrument-tomcat-3.2.5.RELEASE.jar
/spring-jdbc-3.2.5.RELEASE-javadoc.jar
/spring-jdbc-3.2.5.RELEASE-sources.jar
/spring-jdbc-3.2.5.RELEASE.jar
/spring-jms-3.2.5.RELEASE-javadoc.jar
/spring-jms-3.2.5.RELEASE-sources.jar
/spring-jms-3.2.5.RELEASE.jar
/spring-orm-3.2.5.RELEASE-javadoc.jar
/spring-orm-3.2.5.RELEASE-sources.jar
/spring-orm-3.2.5.RELEASE.jar
/spring-oxm-3.2.5.RELEASE-javadoc.jar
/spring-oxm-3.2.5.RELEASE-sources.jar
/spring-oxm-3.2.5.RELEASE.jar
/spring-struts-3.2.5.RELEASE-javadoc.jar
/spring-struts-3.2.5.RELEASE-sources.jar
/spring-struts-3.2.5.RELEASE.jar
/spring-test-3.2.5.RELEASE-javadoc.jar
/spring-test-3.2.5.RELEASE-sources.jar
/spring-test-3.2.5.RELEASE.jar
/spring-tx-3.2.5.RELEASE-javadoc.jar
/spring-tx-3.2.5.RELEASE-sources.jar
/spring-tx-3.2.5.RELEASE.jar
/spring-web-3.2.5.RELEASE-javadoc.jar
/spring-web-3.2.5.RELEASE-sources.jar
/spring-web-3.2.5.RELEASE.jar
/spring-webmvc-3.2.5.RELEASE-javadoc.jar
/spring-webmvc-3.2.5.RELEASE-sources.jar
/spring-webmvc-3.2.5.RELEASE.jar
/spring-webmvc-portlet-3.2.5.RELEASE-javadoc.jar
/spring-webmvc-portlet-3.2.5.RELEASE-sources.jar
/spring-webmvc-portlet-3.2.5.RELEASE.jar
